 

 :root{
  --mainBlue:#0642cf;
  --lightBlue:#009ffd;
  --mainWhite:#ffffff;
  --mainDark : #212325;
  --lightDark: #8f8888;
  --mainYellow: #ffa400;
  --mainRed: rgb(158, 6, 6);
}
body{
  font-family: "oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  letter-spacing: 0rem;
  text-transform: uppercase;
}
.text-blue{
  color:var(--mainBlue);
}
.text-bright{
  color:var(--lightblue) ;

}
.btn-black{
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border: 0.1rem  solid var(--mainBlue) !important;
  background-color: #a1dbfd !important;
  

}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
.customDiv{
  margin-bottom:  3px;
  min-height: 300px;
  font-size: large;
}
.form{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5px;
}

.input-group-text {
  background: var(--mainYellow) !important;


  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user {
  box-shadow: none !important;
}
.create-post{
  display: grid;
height:7rem ;

}
.add-test{
  display:flex;
align-items:center;
}
.btns{
  margin-left: 25rem;
  border: 2px var(--lightBlue) solid;
  background-color: var(--mainWhite);

}
 .emoji{height: 110px;
width: 110px;

} 
.emoji-text{
  font-size: 0.90rem;
  margin-right: 6rem;
}
.b{
  background-color: var(--mainBlue);
}
 .jumbotron{

  background-color: var(--mainBlue) !important;

  
} 

.fa-shipping-timed, .fa-history, .fa-ribbon{
  font-size: 35px;
  color: var(--mainYellow) !important;
  padding-left: 5rem;
}
/* .counter{
  margin-left: 150px;
} */